<html>
	<head>
		<title>Watsan Portal</title>
		<script src="http://maps.google.com/maps/api/js?v=3.14&libraries=places&sensor=false"></script>
		<!--[if lte IE 8]>
		     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.ie.css" />
		<![endif]-->
		<script type="text/javascript">
			google.maps.visualRefresh = true;
			window.WATSAN = {};
			WATSAN.projectId = {{ project.id }};
			WATSAN.site_colors = ['q8-9', 'q7-9', 'q6-9', 'q5-9', 'q4-9', 'q3-9', 'q2-9', 'q1-9', 'q0-9'];
		</script>
		{% include "watsan/tracking.html" %}
	</head>
	<body>
		<div id='popup-space'>
			<p class='popup' id='instructions-popup'>Click within the yellow borders to check availability and estimated cost of connections in those areas.</p>
		</div>
		<div id="loading-overlay"><p>Loading...</p></div>
		{% include "watsan/header.html" %}
		<div id='map'>
			<div id="overlay">
				<div id='left-pane' class='side-pane'>
					<div id='search-pane' class='dynamic card closed'>
						<div class='input form'>
							<input type='text' id='search_box' name='search_box' placeholder='Search'>
								<a><span id="search-icon" class='typicn typcn-zoom'></span></a>
							</input>
						</div>
						<div class='close' style='display:none;'><div class='arrow'></div></div>
						<ul id='search-list'></ul>
					</div>
				</div>
				<div id="right-pane" class='side-pane'>
					<div id='gps' class='dynamic'>
						<a id="show-coords" class='show clickable'>Use GPS Coordinates</a>
						<div id='coords-pane' style='display:none;' class='card'>
							<span class='close typicn typcn-times'></span>
							<div class='input form'>
								<input type='text' id='lat-input' name='lat-input' placeholder='Latitude'/>
								<input type='text' id='lng-input' name='lng-input' placeholder='Longitude'/>
								<button id="enter-coords">Go</button>
								<p>Please enter coordinates in in decimal form (e.g. -1.31206)</p>
							</div>
						</div>
					</div>
					<div id="site-details" class='Blues'></div>
				</div>
			</div>
			<div id="map_canvas"></div>
		</div>
	</body>
	<script src="/static/steal/steal.js?/static/watsan/javascript/loaders/map.js"></script>
	{% include "watsan/map/baseFeatures.html" %}
	{% include "watsan/map/projectSites.html" %}
</html>
