<html>
	<body>
		<div style="background-image: url('app.spatialcollective.com/static/images/bg.jpg'); border-radius: 5px; padding: 20px; font-size: 1.2em;">
			<img style="margin:0 auto; width: 150px; display: block;" src="http://app.spatialcollective.com/static/images/logoTransparent.png">
			{% block content %}
				<p>Thank you for signing up for an account with Spatial Collective! Click below to verify your email address and activate your account.</p>
			{% endblock %}
			{% block button %}
				<div style='width: 100%; display: block;'>
					<a href="{{ domain }}{% url 'confirm' confirmationCode=confirmation_code username=username %}" style="width: 100px; padding: 10px 15px; margin: 30px auto 0 auto; text-decoration: none; border-radius: 40px; color: #333; font-size: 1.2em; background-color: rgb(165, 192, 148); border: none; display: block; text-align: center;">Verify Email</a>
				</div>
			{% endblock %}
		</div>
	</body>
</html>
