{% extends "watsan/dashboard/base.html" %}

{% block content %}
<div class="row">
    <div class="column_6 offset_3 padding margin-top">
        <h3 class="text center">Password Change</h3>
        <p class="text center margin-bottom">
            Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
        </p>
        <form class="text-center" action="" method="post">
            {% csrf_token %}
                    <label for="id_old_password" class="required">Old password</label>
                    <input id="id_old_password" name="old_password" type="password">
                     {% if form.old_password.errors %}
                       {{ form.old_password.errors }}
                    {% endif %}
                   
                    <label for="id_new_password1" class="required">New password</label>
                    <input id="id_new_password1" name="new_password1" type="password">
                     {% if form.new_password2.errors %}
                       {{ form.new_password2.errors }}
                    {% endif %}
            
                    <label for="id_new_password2" class="required">Password (again)</label>
                    <input id="id_new_password2" name="new_password2" type="password">
            
                
                    <input type="submit" value="Change my password" class="button margin-top">
                
        </form>
    </div>
</div>

{% endblock %}