{% extends "dashboard/base.html" %}
{% load thumbnail %}

{% block title %}<span class='typicn typcn-folder'></span>{{project.name}}{% endblock %}

{% block content %}
	<div class='row'>
		<section class="column_10 offset_1 padding-bottom">
			<div id="projects" class='text'>
				<div class='project' id='{{project.id}}'>
					<ul class='steps'>
						<li class='step _1'>
							<h4>Step 1: Find Potential Site(s)</h4>
							<p>Add sites to the map to view estimated costs</p>
							<div class='buttons'>
								<a href='/map/{{project.id}}' class='button'><span class='typicn typcn-world'></span>View Map</a>
							</div>
						</li>
						<li class='step _2 {% if not project.sites.all %} incomplete {% endif %}'>
							<h4>Step 2: Compare Potential Site(s)</h4>
							<div id='site-table'>
								<table class='table'>
									<thead>
				                    	<tr>
				                    		<th></th>
				                            <th>Name</th>
				                            <th>Sewer</th>
				                            <th>Water</th>
				                            <th>Nearby</th>
				                            <th>Pilot Area</th>
				                            <th></th>
				                        </tr>
				                    </thead>
									<tbody>
										{% for site in project.sites.all %}
										<tr id='site-{{site.id}}' class='site-row'>
											<td><span class='typicn typcn-location'></span></td>
											<td>{{site.name}}</td>
											<td>
												{% if site.get_closest_sewerline_distance == False %}
													Not Possible
												{% else %}
													{{site.get_closest_sewerline_distance}} meters,
													{{site.get_closest_sewerline_cost}}/=KSH*
												{% endif %}
											</td>
											<td>
												{% if site.get_closest_waterline_distance == False %}
														Not Possible
												{% else %}
													{{site.get_closest_waterline_distance}} meters,
													{{site.get_closest_waterline_cost}}/=KSH*
												{% endif %}
											</td>
											<td>{{site.get_closest_landmarks}}</td>
											<td>{{site.is_within}}</td>
											<td><a href='#' onclick='deleteSite({{site.id}});'><span class='typicn typcn-delete'></span></a></td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								<i>*Cost information is gathered from several built projects in Kibera and is based on an average cost of materials, appurtenances and labour per metre for the installation of a water or sewerage connection. Cost varies per project depending in the specific location and environment and this information should be used as a loose guide only. Actual costs should be verified on site by an engineering professional or member of the NCWSC team. Financing arrangements should be discussed with NCWSC. Costs do not include registration or connection fees - please see NCWSC website or consult with NCWSC staff for this information.</i>
							</div>
						</li>
						<li class='step _3 {% if not project.sites.all %} incomplete {% endif %}'>
							<h4>Step 3: Connect to Nairobi Water or an Alternative</h4>
							<p>Click the buttons below to get more details</p>
							<div class='buttons'>
								<a class='button left' href='/ncwsc/{{project.id}}'>Connect To NCWSC</a>
								<a class='button right' href="/alts/{{project.id}}">Find Alternative</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript">
		var project = { 'id': {{project.id}}, 'name': '{{project.name}}', 'sites': [] };
		{% for site in project.sites.all %}
			project.sites.push({ 'name': '{{site.name}}', 'village': '{{ site.is_within }}', 'landmarks': '{{ site.get_closest_landmarks }}', 'waterline_distance': '{{ site.get_closest_waterline_distance }}', 'waterline_cost': '{{ site.get_closest_waterline_cost }}', 'sewerline_distance': '{{ site.get_closest_sewerline_distance }}', 'sewerline_cost': '{{ site.get_closest_sewerline_cost }}' });
		{% endfor %}
		WATSAN.raw = project;

		function deleteSite(id) {
			if (confirm('Are you sure you want to delete this site?')) {
				$.post('/map/site/delete/', { "id": id })
					.success(function() { 
						$('#site-' + id).remove();
						if ($('#site-table .site-row').length <= 0)
							location.reload();
					})
					.error(function() {	alert("Something went wrong, please try reloading the page"); });
			}		
		}
	</script>
{% endblock %}